.continer{
    width: 60%;
    margin: 20px auto;
    box-shadow: 0px 0px 12px black;
    height:400px;
}
.flex{
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.rock,.paper,.siser,.start-over{
    
    background-color: rgb(138, 187, 214);
    width: 70px;
    height: 70px;
    border-color: transparent;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.start-over{
    margin: 0 auto;
}
.add{
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px ;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 20px;
}
